{% extends 'base.html.twig' %}

{% import "@RoleLightify/device.html.twig" as device %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                {% for item in devices %}
                    <div class="col-md-3">
                        {{ device.show(item) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
